$mainColor: rgba(233, 226, 221, 0.8);
$colorBorder: 1px solid #d63031;
$colorNav: rgba(233, 86, 86, 0.8);
$secondaryColor: rgb(0, 0, 0);
$thirdColor: #1c0abb;
$bgColorPie: rgb(34,34,34);

$w-100: 100%;
$w-90: 90%;
$w-40: 40%;
$w-30: 30%
