@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&family=Roboto:wght@300&display=swap');

$mainFont: 'Roboto', sans-serif;
$secondaryFont: 'Nunito Sans', sans-serif;

$fontLg: 3.6rem;
$fontMd: 3rem;
$fontsm: 2.6rem;
$fontTxt: 2rem;

$textBold:600;
$textRegular:400;
$textThin:200;
